<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Success</title>
</head>

<body>
    <div class="container text-center">
        <h3 class="p-4">Welcome <%= user.username %> </h3>
        <h3 class="p-2">If You See This Page <br> Then You Have Logged In Successfully ! </h3>
        <a class="btn btn-danger" href="/logout">Logout</a>
        <div class="container p-3">
            <form action="/addmsg" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="msg" id="msg" cols="30" rows="3" maxlength="200"
                        placeholder="Enter Some Message.. 200 characters..."></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Add Message</button>
                </div>
                <div>
                    <% user.messages.forEach(function(msg, index){ %>
                    <h4><%= msg %></h4>
                    <% }) %>
                </div>
            </form>
            <p>
            </p>
        </div>
    </div>
</body>

</html>